.row.content {
    height: 1500px
}

.sidenav {
    background-color: #f1f1f1;
    height: 100%;
}

.sidenav>div {
    margin-top: 4%;
}

form {
    color: white;
    margin-top: 1%;
}


/* Remove the navbar's default rounded borders and increase the bottom margin */

.navbar {
    margin-bottom: 50px;
    border-radius: 0;
}


/* Remove the jumbotron's default bottom margin */

.jumbotron {
    margin-bottom: 0;
}


/* Add a gray background color and some padding to the footer */

footer {
    background-color: #f2f2f2;
    padding: 25px;
}

#logo {
    width: 25px;
}

a {
    margin-top: 2%;
}

#log {
    color: white;
}

#titulo {
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
    color: black;
}

footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

.info>td {
    background-color: burlywood !important;
}

.sucess>td {
    background-color: green!important;
}

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {
        height: auto;
    }
}

#section2 {
    display: none;
}

.btn-primary {
    width: 100%;
}

.ping {
    font-family: fantasy;
    color: black;
    font-weight: bold;
}

.pong {
    font-family: fantasy;
    color: green;
    font-style: italic;
}

.ploc {
    font-family: fantasy;
    color: blue;
    text-decoration: underline;
}
